h1 {
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 10%;
}

.auth-list {
  margin-left: 20%;
  margin-right: 0%;
}

.base-custom-button {
  margin-left: -30%;
}

.login-button {
  margin-left: 5%;
}
