go 1.20

use (
	./cmd/app
	./internal/app
	./internal/config
	./internal/database/adapter
	./internal/database/models
	./internal/helping_functions/auth
	./internal/helping_functions/paths_and_folders
	./internal/logging
	./internal/mycrypto
	./internal/routes_handle_functions
	./internal/structures
)
